<%# 
form_with model: @user, url: users_path, method:'post' do |form| 
 form.label :username 
 form.text_field :username, name: 'user[username]' 

 form.label :email 
 form.email_field :email, name: 'user[email]' 

 form.label :password 
 form.password_field :password, name: 'user[password]' 

 form.submit 'Create User' 
end 
%>

<%# 
form_tag(users_path) do 
  label_tag('user[username]', 'Username')
  text_field_tag('user[username]')
  
  label_tag('user[email]', 'Email')
  email_field_tag('user[email]')

  label_tag('user[password]', 'Password')
  password_field_tag('user[password]')

  submit_tag('Create User') 
end 
%>

<%= form_with model: @user, url: users_path, method: 'post' do |form| %>
 <% if @user.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
     <ul>
       <% @user.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

 <%= form.label :username%>
 <%= form.text_field :username, name: 'user[username]' , value: 'Anon'%>

 <%= form.label :email%>
 <%= form.email_field :email, name: 'user[email]', placeholder: 'example@123.com' %>

 <%= form.label :password %>
 <%= form.password_field :password, name: 'user[password]' %>

 <%= form.submit('Create User') %>
<% end %>
